<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let d of data">
        <td>{{d.id}}</td>
        <td>{{d.name}}</td>
        <td><button (click)="view(d.id)">view</button></td>
    </tr>
</table>

<br>
<br>

<button (click)="create()">CREATE USER</button>